<div>
  <table class="table table-bordered table-condensed table-striped table-hover"
    style="text-align: center;">
    <thead>
      <tr>
        <th>Name</th>
        <th>P</th>
        <th>I</th>
        <th>R</th>
        <th>M</th>
        <th>Ti</th>
        <th>Tm</th>
        <th>Ts</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ currentSimulation.name }}</td>
        <td>{{ currentSimulation.population }}</td>
        <td>{{ currentSimulation.infected }}</td>
        <td>{{ currentSimulation.rvalue }}</td>
        <td>{{ currentSimulation.mortality }}</td>
        <td>{{ currentSimulation.infectedTime }}</td>
        <td>{{ currentSimulation.mortalityTime }}</td>
        <td>{{ currentSimulation.simulationTime }}</td>
        <td>
          <button class="btn btn-secondary" (click)="edit(currentSimulation)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <br />
  <div class="chart-wrapper">
    <canvas
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
  <br /><br>
  <table class="chart-table">
    <tr style="text-align: center;">
      <td><h3>First day:</h3></td>
      <td><h3>Last day:</h3></td>
    </tr>
    <tr>
      <td>
        <canvas
          baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [colors]="doughnutChartColors"
        >
        </canvas>
      </td>
      <td>
        <canvas
          baseChart
          [data]="doughnutChartDataAfter"
          [labels]="doughnutChartLabelsAfter"
          [chartType]="doughnutChartTypeAfter"
          [colors]="doughnutChartColors"
        >
        </canvas>
      </td>
    </tr>
  </table>
  <br />
  <br><br><br>
  <table class="table table-bordered table-condensed table-striped table-hover" style="max-width: 700px; margin: auto; text-align: center;">
    <thead>
      <tr>
        <th>Day</th>
        <th>Infected</th>
        <th>Vulnerable</th>
        <th>Dead</th>
        <th>Convalescents</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dailyStats of currentSimulation.dailyStatsList">
        <td>{{ dailyStats.day }}</td>
        <td>{{ dailyStats.pi }}</td>
        <td>{{ dailyStats.pv }}</td>
        <td>{{ dailyStats.pm }}</td>
        <td>{{ dailyStats.pr }}</td>
      </tr>
    </tbody>
  </table>
</div>
