<div class="list row">
  
    <div class="container">
      <h4>Simulations List</h4>
      
      <table class='table table-bordered table-condensed table-striped table-hover'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Population</th>
            <th>Infected</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable" *ngFor="let simulation of simulations" routerLink="/simulation/{{ currentSimulation.id }}" >
            <td>{{simulation.name}}</td>
            <td>{{simulation.population}}</td>
            <td>{{simulation.infected}}</td>
          </tr>
        </tbody>
      
      </table>

      <!-- <div class="table">
        <a *ngFor="let simulation of simulations" 
        class="tableRow" href="http://www.google.com">
          <div class="tableCell">{{simulation.name}}</div>
          <div class="tableCell">{{simulation.population}}</div>
          <div class="tableCell">{{simulation.infected}}</div>
        </a>
      </div> -->

      <!-- <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let simulation of simulations; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveSimulation(simulation, i)"
        >
          {{ simulation.name }}
        </li>
      </ul> -->
    
    </div>
    <!-- <div class="col-md-6">
      <div *ngIf="currentSimulation.id">
        <h4>Simulation</h4>
        <div>
          <label><strong>Id:</strong></label> {{ currentSimulation.id }}
        </div>
        <div>
          <label><strong>Name:</strong></label>
          {{ currentSimulation.name }}
        </div>
  
        <a class="badge badge-warning" routerLink="/simulation/{{ currentSimulation.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentSimulation">
        <br />
        <p>Please click on a Simulation...</p>
      </div>
    </div> -->
  </div>